@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body,
html {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

body {
  background: url("https://business.fsu.edu/sites/g/files/upcbnu1771/files/DSC_4265.jpg") center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  -webkit-backdrop-filter: blur(5px); /* For older versions of Safari/Chrome */
  backdrop-filter: blur(5px);
}



.ph_no h1 {
  text-align: center;
}

.ph_no {
  display: flex;
  background-color: #00000098;
  justify-content: center;
  margin: 10px;
  margin-inline: 25%;
  font-size: 20px;
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
}

.padding {
  display:flex;
  flex-direction: column;
  padding: 10px;
}

.ph_no input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: calc(100% - 20px);
}

.ph_no label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: white;
}

table, th, td {
  border: 1px solid white;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr {
  border-bottom: 2px solid white;
}

.ph_no button {
  padding: 15px 40px; /* Adjust padding to increase size */
  border-radius: 30px;
  border: none;
  font-size: 15px;
  background-color: maroon;
  color: white;
}

/* Media query for mobile optimization and smaller screens */
@media screen and (max-width: 768px) {
  .ph_no {
    margin: 5%;
    font-size: 16px;
  }

  .ph_no button {
    font-size: 20px;
  }

  table, th, td {
    font-size: 14px;
  }
}
