@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.ph_no h2 {
  text-align: center;
}

.ph_no {
  display: flex;
  background-color: #00000098;
  justify-content: center;
  margin: 10px;
  margin-inline: 25%;
  font-size: 20px;
  font-weight: 550;@import url('https://fonts.googleapis.com/css?family=Raleway:200');


  .ph_no h1 {
    text-align: center;
  }
  
  .ph_no {
    display: flex;
    background-color: #00000098;
    justify-content: center;
    margin: 10px;
    margin-inline: 25%;
    font-size: 20px;
    font-Weight:550;
    color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
  }
  
  .padding {
    padding: 10px;
    width: 100%;
    align-items: center;
  }
  
  .ph_no input {
    padding: 10px;
    border-radius: 20px;
    border: none;
  }  
  table {
    border-collapse: collapse;
    width: 100%;
    color: white;
  }
  
  table, th, td {
    border: 1px solid white;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  tr {
    border-bottom: 2px solid white;
  }
  
  .ph_no button {
    padding: 15px 40px; /* Adjust padding to increase size */
    border-radius: 30px;
    border: none;
    font-size: 15px;
    background-color: maroon;
    color: white;
  }
  
  /* Media query for mobile optimization and smaller screens */
  @media screen and (max-width: 768px) {
    .ph_no {
      margin: 10%;
      font-size: 16px;
    }
  
    .ph_no button {
      font-size: 14px;
    }
  
    table, th, td {
      font-size: 14px;
    }
  }
  
  color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
}

.padding {
  padding: 20px;
}

.ph_no input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: calc(80% - 20px);
}

.ph_no label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.ph_no .decrease-size {
  padding: 10px;
  width: calc(35% - 20px);
  float: left;
  margin-right: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: white;
}

table,
th,
td {
  border: 1px solid white;
}

th,
td {
  padding: 10px;
  text-align: left;
}

tr {
  border-bottom: 2px solid white;
}

.ph_no button {
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  background-color: maroon;
  color: white;
}

/* Media query for mobile optimization and smaller screens */
@media screen and (max-width: 768px) {
  .ph_no {
    margin: 5%;
    font-size: 16px;
  }

  .ph_no button {
    font-size: 14px;
  }

  table,
  th,
  td {
    font-size: 14px;
  }
}
